#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

.backups/
.backups/*

examples/.terraform
examples/terraform.tfstate
examples/terraform.tfvars

# OS X files
.history
.DS_Store
